body {
    height: 100vh;
    margin: 0;
    overflow: hidden;
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    color: rgb(177, 174, 5);
    background-color: rgb(0, 1, 2);
}

.title{
    text-align: center;
    align-self: center;
    padding: 80px;
    margin: 40px;
    margin-left: 100px;
    margin-right: 100px;
    font-size: 60px;
    border: 5px solid;
    max-width: 1200px;
    
}

.buttons{
    display:flex;
    justify-content: center;
    gap: 100px;
    margin-bottom: 20px;
}

button:hover{
    transform: scale(1.1);
}

img {
    height: 250px;
    width: 250px;
}

.composition {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

}

.comimage{
    text-align: center;
    height: 80px;
    width: auto;
    
}

.round{
    text-align: center;
    padding: 10px;
    font-size: 30px;
}

.game{
    text-align: center;
    padding: 10px;
    font-size: 30px;
}

.final{
    text-align: center;
    padding: 10px;
    font-size: 50px;
    margin: 0 80px;
}
